.bg-gradient-primary {
    background: linear-gradient(to right, #3867d6, #4b7bec);
}

.bg-gradient-secondary {
    background: linear-gradient(to right, #e7ebf0, #868e96);
}

.bg-gradient-success {
    background: linear-gradient(to right, #7ed6df, #07cdae);
}

.bg-gradient-info {
    background: linear-gradient(to right, #ffbe76, #f0932b);
}

.bg-gradient-pink {
    background: linear-gradient(to right, #ff7979, #eb4d4b);
}

.bg-gradient-danger {
    background: linear-gradient(to right, #ffbf96, #fe7096);
}

.bg-gradient-light {
    background: linear-gradient(to bottom, #f4f4f4, #e4e4e9);
}

.bg-gradient-dark {
    background: linear-gradient(89deg, #5e7188, #3e4b5b);
}
.card-img-absolute {
    position: absolute;
    top:0;
    right: 0;
    height: 100%;
}
#currentTime {
    letter-spacing:3px;
    font-family:Source Sans Pro;
    font-size:50px;
    color: #fff;
}
#currentDate{
    color:#fff;
    font-size:15px;
}